{% extends 'base.html' %}

{% block title %}Lista de Tarefas{% endblock %}

{% block main %}

<style>
    /* Estilo da lista de tarefas em aberto */
    .taskOpen {
        color: #66AF41;
        font-size: 24px;
        margin-bottom: 10px;
    }
    /* Estilo da lista de tarefas concluídas */
    .taskClosed {
        color: red;
        font-size: 24px;
        margin-bottom: 10px;
    }
    .listTitle {
    /* Estilo dos itens da lista */
        display: inline-block;
        width: 40%;
        max-width: 40%;
        margin: auto;
        background-color: #fff;
        padding: 15px;
        padding-bottom: 0px;
        margin-bottom: 10px;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

    }
    .listTitle h3 {
        text-decoration: none;
    }
    .listTitle a {
        color: #007bff;
        text-decoration: none;
    }

    /* Estilo do texto da data */
    .date {
        color: #888;
        font-size: 14px;
        margin-top: 15px;
    }

    .pagination {
        display: flex;
        margin-top: 20px;
    }

    .step-links {
        margin-right: auto;
        margin-left: 39%;
        text-align: right;
    }

    .arrow {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: #17a758d8;
        color: #fff;
        border-radius: 30%;
        text-align: center;
        line-height: 20px;
    }
</style>
<h1 class="taskOpen">Resultado da pesquisa</h1>

{% if tasks_search %}
    {% for task in tasks_search %}
    <li class="listTitle">
        <h3><a href="/{{task.id}}">{{task.title}}</a></h3>
        <h6 class="date">Tarefa criada em: {{task.created_task}}</h6>
    </li>
    {% endfor %}
{% else %}
    <p>Nenhum resultado encontrado.</p>
{% endif %}

{% endblock %}

