{% extends 'base.html' %}

{% block title %}Lista de Tarefas{% endblock %}

{% block main %}

<article>
    <h1 class="taskOpen">Resultado da pesquisa</h1>
    <div class="box-out">
        {% if tasks_search %}
            {% for task in tasks_search %}
            <li class="listtasks">
                <p><a href="/{{task.id}}">{{task.title}}</a></p>
                <h6 class="date">Tarefa criada em: {{task.created_task}}</h6>
            </li>
            {% endfor %}
        {% else %}
            <p>Nenhum resultado encontrado.</p>
        {% endif %}
        </article>
    </div>

{% endblock %}

