{% extends 'base.html' %}

{% block title %}Lista de Tarefas{% endblock %}

{% block main %}



<article>
    <h3 class="listTitle">{{ task.title }}</h3>
    <p class="listDescrip">{{ task.description }} <br><br><br><br>
    {{ task.created_task }}</p>

    {% if task.done == 'doing' %}
        <form method="post" action="{% url 'update-task' task.id %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Salvar">
        </form>
    {% endif %}
</article>

{% endblock %}
