{% extends 'base.html' %}

{% block title %}Lista de Tarefas{% endblock %}

{% block main %}

<article>
    <div class="box-out">
        <h3>{{ task.title }}</h3>
        <p class="box-out">{{ task.description }}</p>
        {% if task.done == 'doing' %}
            <form method="post" action="{% url 'update-task' task.id %}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Tarefa concluida!"> 
            </form>
        {% endif %}
    </div>
</article>

{% endblock %}
