{% extends 'base.html' %}

{% block title %}Lista de Tarefas{% endblock %}

{% block main %}

<article>
    <div class="box-out">
        <h3>Título: {{ task.title }}</h3>
        <h6 class="date">Tarefa criada em: {{ task.created_task }}</h6>
        <h6 class="dateEnd">Prazo termina em: {{ task.EndTime }}</h6>
        <textarea cols="10" rows="10" readonly>{{ task.description }}</textarea>
        {% if task.done == 'doing' %}
        <li class="listtasks">
            <form method="post" action="{% url 'update-task' task.id %}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Tarefa concluida!"> 
            </form>
        </li>
        {% endif %}
    </div>
</article>

{% endblock %}
