{% extends 'base.html' %}

{% block title %}Agendamento de HappyDay{% endblock %}

{% block main %}
<article>
    {% if has_agendamento %}
    <form action="{% url 'happy_day' %}" method="POST" id="delete-form">
        {% csrf_token %}
        <h1>Já existe um agendamento para você</h1>
        <div class="box-out">
          <div class="user-form">
            <input type="hidden" name="form_type" value="del_happy">
            <br>
            {% if agendamento %}
            <p>{{ agendamento }}</p>
            {% endif %}
            <br><br>
            <input class="form-group" type="submit" value="Deletar agendamento HappyDay">
          </div>
        </div>

      </form>
    {% else %}
        <form action="{% url 'happy_day' %}" method="POST" id="confirm-form">
            {% csrf_token %}
            <h1>Agendar HappyDay</h1>
            <div class="box-out">
              <div class="user-form">
                <input type="hidden" name="form_type" value="new_happy">
                <label for="password">Senha:</label>
                <input type="password" id="password" name="password" required placeholder="Digite sua senha para confirmar o agendamento">
                <label for="date">Data do agendamento:</label>
                <input type="date" id="date" name="date" required>
                <input class="form-group" type="submit" value="Agendar HappyDay">
              </div>
            </div>
        </form>
    {% endif %}
</article>
{% endblock %}

