{% extends 'base.html' %}

{% load static %}

{% block title %}Mensagens Privadas{% endblock %}

{% block main %}

<article>
    <div class="asideBox">
        <h1>Enviar nova mensagem</h1>
        <div class="box-out">
                <form action="/accounts/messages/" method="post" class="myform">
                    {% csrf_token %} 
                    {{ form.media}}
                    {% for field in form %}
                    <div >
                        <div><label for="{{ field.id_for_label }}">{{ field.label }}: </label></div>
                        {{ field }}
                    </div>
                    {% endfor %}
                    <input type="submit" value="Enviar MP">
                </form>

        </div>
    </div>
</article>


<article>
    <div class="asideBox">
        <h1>Mensagens Enviadas</h1>
        <div class="box-out">
            {% if sent_messages %}
                {% for message in sent_messages %}
                    {% if not message.parent_message %}
                        <li class="listtasks">
                            <p><a href="/accounts/messages/{{ message.id }}">{{ message.title }}</a></p>
                            <h6 class="dateEnd">Enviada em: {{ message.send_date }}</h6> 
                        </li>
                    {% endif %}
                {% endfor %}
            {% else %}
                <li class="listtasks">Nenhuma mensagem enviada.</li>
            {% endif %}
        </div>
    </div>
</article>

<article>
    <div class="asideBox">
        <h1>Mensagens Recebidas</h1>
        <div class="box-out">
            {% if received_messages %}
                {% for message in received_messages %}
                    {% if not message.parent_message %}
                        <li class="listtasks">
                            <p><a href="/accounts/messages/{{ message.id }}">{{ message.title }}</a></p>
                            <h6 class="dateEnd">Recebida dia: {{ message.send_date }}</h6>
                        </li>
                    {% endif %}
                {% endfor %}
            {% else %}
                <li class="listtasks">Nenhuma mensagem recebida.</li>
            {% endif %}
        </div>
    </div> 
</article>

{% endblock %}
