{% extends 'base.html' %}

{% block title %}Mensagens Privadas{% endblock %}

{% block main %}

<article>
    <h1>Mensagem enviada para {{ mp.addressee }}</h1>

    <div class="box-out">
        <li class="listtasks">
            <p>Título: {{ mp.title }}</p>
            <h6 class="date">Enviada em: {{ mp.send_date }}</h6>
        </li>
        <div class="text">
            <div class="ck ck-content">
                {{ mp.content  | safe }}
            </div>
        </div>
 

        {% for reply in mp.replies.all %}
            <li class="listtasks">
                <h6 class="date">Resposta de {{ reply.sender }} em {{ reply.send_date }}</h6>
            </li>
            <div class="text">
                <div class="ck ck-content">
                    {{ reply.content | safe }}
                </div>
            </div>
        {% endfor %}

        
        <form method="post" action="{% url 'msg' mp.id %}" class="myform">
            
            {% csrf_token %}
            {{ form.media }}
            {{ form }}
           
            <input type="submit" value="Responder">
        </form>
    </div>
</article>

{% endblock %}
