{% extends 'base.html' %}

{% block title %}Cadastro de Usuário{% endblock %}

{% block main %}



<article>
    <h1 style="color: red;">Atenção!</h1>
    <div class="box-out">
        <p>"Para acessar, por favor, registre-se e aguarde a aprovação do administrador para prosseguir."</p>
    </div>
</article>
<article>
    <h1>Cadastre-se agora</h1>
    <form action="" action="{% url 'register_user' %}" method="POST">
        {% csrf_token %}
        <div class="box-out">
            <div class="user-form">
                
                <label for="username">Nome:</label>
                <input type="username" id="username" name="username" required placeholder="Digite seu primeiro nome">

                <label for="password">Senha:</label>
                <input type="password" id="password" name="password" required placeholder="Digite sua senha">

                <label for="confirm-password">Repita a Senha:</label>
                <input type="password" name="confirm-password" id="confirm-password" required minlength="6" placeholder="Confirme a senha do usuário">

                <label for="email">Email:</label>
                <input type="email" name="email" id="email" required placeholder="Email do usuário">
                <input class="form-group" type="submit" value="Cadastrar">
            </div>
        </div>
    </form>
</article>

{% endblock %}
