* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    color: #415C88;
}

hr {
    border: 1px solid rgba(0, 0, 0, 0.253);
}

h1 {
    color: whitesmoke;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #000;
}

/* Estilos para o modo escuro */
body.dark-mode {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.content {
    display: flex;
}

header {
    flex-shrink: 0;
    background-color: #191C24;
}

header > img {
    width: 100%;
    height: auto;
}

aside {
    flex-basis: auto;
    padding: 0px;
    background-color: #191C24;
    transition: transform 0.3s ease;
}

aside.dark-mode {
    flex-basis: auto;
    padding: 0px;
    background-color: #ffffff;
    transition: transform 0.3s ease;
}

ul {
    background-color: #191C24;
    text-align: left;
}

ul > p {
    width: 250px;
    padding: 5px 10px 10px 30px;
    color: whitesmoke;
    font-variant-caps: all-petite-caps;
    font-weight: 600;
    font-size: 1.2em;
}

ul > a {
    display: block;
    width: 50%;
    text-decoration: none;
    padding: 15px 20px 15px 30px;
    border-radius: 0px 40px 40px 0px;
    transition: background-color 0.3s ease;
    font-variant-caps: all-petite-caps;
    font-weight: 500;
    font-size: 1.1em;
}

ul > a:hover {
    background-color: black;
    color: red;
    border-left: 2px solid red;
}

main {
    flex-basis: 100%;
}

article {
    background-color: #191C24;
    border-radius: 10px;
    margin: 10px;
    padding: 30px;
}

article  p {
    text-align: center;
}

.sideBox {
    display: flex;
    justify-content: space-between;
  }
  
.leftItem {
    order: 1; /* Altera a ordem de exibição para 1 */
}
  
.rightItem {
    order: 2; /* Altera a ordem de exibição para 2 */
}

.box-out {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border: 1px solid rgba(0, 0, 0, 0.253);
    border-radius: 10px;
}

.user_group {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 50px;
    border: 1px solid rgba(0, 0, 0, 0.199);
  }

  .profile-photo{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 3);
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
      text-align: center;
      padding: 8px;
      border: 1px solid red;
  }

  th {
      background-color: #1d1616;
  }

  tr:nth-child(even) {
    background-color: #191C24;
  }
/* Estilo do texto da data */
.date {
    color: #888;
    text-align: right;
    font-size: 11px;
}

.dateEnd {
    text-align: right;

    color: #b10404;
    font-size: 12px;
}

.pagination {
    display: flex;
    margin-top: 20px;
}

.arrow {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #17a758d8;
    color: #fff;
    border-radius: 30%;
    text-align: center;
    line-height: 20px;
}

.user-form {
    display: block;
    width: 400px;
}

input, select {
    width: 100%;
    padding: 10px 0px;
    background-color: #191C24;
    border: 1px solid #ff000062;
    border-radius: 4px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

select {
    width: 150px;
}

input:hover {
    width: 100%;
    padding: 10px 0px;
    background-color: #191C24;
    border: 1px solid #ff000062;
    border-radius: 4px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
  
  
input[type="submit"] {
width: 100%;
padding: 10px;
background-color: #ff0000;
color: #fff;
border: none;
border-radius: 4px;
cursor: pointer;
font-size: 16px;
}
  
input[type="submit"]:hover {
    background-color: #b30000;
}

input:focus {
    outline: 2px solid #b30000;
    background-color: #0a45bb0a;
}

input[type="checkbox"] {
width: 20px;
background-color: #ff0000;
color: #fff;
border: none;
border-radius: 4px;
cursor: pointer;
}

input[type="checkbox"]:focus {
    outline: none;
}

.user-form input > .checkbox-container {
    display: flex;
}

input[type="file"] {
    padding: 10px 0px;
    background-color: rgba(0, 0, 0, 0.055);
    color: #080808;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    box-sizing: border-box;
}


textarea {
    font-size: 1.1em;
    background-color: #0a45bb0a;
    margin: auto;
    width: 100%;
    height: auto;
    border: 1px solid #ff000062;
    border-radius: 4px;
    margin-bottom: 20px;
}


textarea:focus {
    outline: 2px solid #b30000;
}

.listtasks {
    display: block;
    width: 100%;
    margin: 5px 0px;
    padding: 2px 25px;
} 

.listtasks h3 {
    white-space: normal;
    word-break: break-word;
}

.listtasks p {
    font-size: 1.3em;
}

.listtasks textarea {
    font-size: 1.3em;
}

h3 a {
    text-decoration: none;
}

footer {
    flex-shrink: 0;
    text-align: center;
    background-color: #191C24;
    padding: 50px 0;
}

.menu-toggle {
    display: none;
}

.menu-icon {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #000;
    margin-bottom: 6px;
    transition: background-color 0.3s ease;
}

@media only screen and (max-width: 800px) {
    header > img {
        width: 100%;
        height: cover;
        padding: 50px 0 0 0;
    }

    aside {
        transform: translateX(-100%);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        height: 100vh;
        overflow-y: auto;
    }

    main {
        flex-basis: 100%;
        transition: margin-left 0.3s ease;
        margin-left: 0;
    }

    .user-form {
        display: block;
        width: 95%;
    }
    .menu-toggle {
        display: block;
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 2;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .menu-icon {
        background-color: red;
        transition: transform 0.3s ease;
    }

    .menu-icon::before,
    .menu-icon::after {
        content: "";
        display: block;
        width: 30px;
        height: 4px;
        background-color: red;
        transition: transform 0.3s ease;
    }

    .menu-icon::before {
        transform: translateY(10px);
    }

    .menu-icon::after {
        transform: translateY(16px);
    }

    .menu-opened .menu-icon {
        background-color: transparent;
    }

    .menu-opened .menu-icon::before {
        transform: translateY(0) rotate(45deg);
    }

    .menu-opened .menu-icon::after {
        transform: translateY(0) rotate(-45deg);
    }

    .menu-opened aside {
        transform: translateX(0);
    }

    .menu-opened main {
        margin-left: 0;
    }
}
